@font-face {
  font-family: "Montserrat-Bold";
  src: local(Arial);
  src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local(Arial);
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: local(Arial);
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: local(Arial);
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "fontawesome-webfont";
  src: local(Arial);
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; 
  min-height: 100%;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 786px;
  background: rgba(0, 0, 0, 0.6) url(../img/Bg_home.jpg);
  background-blend-mode: darken;
}
%container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  @extend %container;
}
.wr-header {
  position: relative;
  display: flex;
  align-items: baseline;
  height: 72px;
  .logo {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding-top: 43px;
  }
  nav {
    width: 100%;
    text-align: right;
  }
  a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat-Regular";
    text-decoration: none;
    margin-left: 4.1%;
  }
  a:hover {
    filter: opacity(0.5);
  }

  .icon {
    display: none;
  }
  @media screen and (max-width: 768px) {
    a {
      display: none;
    }
    a.icon {
      display: block;
      color: #fdfdfd;
      font-size: 30px;
      bottom: 0;
      padding-right: 3px;
    }
  }
  .newicon {
    top: 34px;
    position: absolute;
    height: 164px;
    width: 120px;
    text-align: left;
    right: 3px;
  }
  .newicon a.icon {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 30px;
    padding-right: 0px;
  }
  .newicon a {
    float: none;
    display: block;
    padding-top: 10px; 
  }
}

.content {
  color: #fff;
  text-align: center;
  margin-top: 250px;
  h1 {
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    font-size: 48px;
    margin: 0;
  }
  h2 {
    font-family: "RobotoSlab-Regular";
    font-size: 20px;
  }
  .btn-header {
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #fff;
    padding: 13px 35px;
    margin-top: 40px;
    text-decoration: none;
    &:hover {
      filter: opacity(0.4);
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 38px;
    }
  }
}
//service
.wr-services {
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    h2 {
      margin-top: 80px;
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    h3 {
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .allicon {
      margin-top: 73px;
      display: flex;
      .icon1 {
        p {
          padding-right: 5px;
        }
        img:hover {
          opacity: 0.9;
          transition: transform 1s ease;
        }
        .rotate {
          transform: rotate(360deg);
        }
      }
      .icon2 {
        p {
          padding: 0 5px;
        }
        img:hover {
          opacity: 0.9;
          transition: transform 1s ease;
        }
        .rotate {
          transform: rotate(360deg);
        }
      }
      .icon3 {
        p {
          padding-left: 5px;
        }
        img:hover {
          opacity: 0.9;
          transition: transform 1s ease;
        }
        .rotate {
          transform: rotate(360deg);
        }
      }
    }
    @media screen and (max-width: 768px) {
      .allicon {
        display: block;
      }
    }
  }
  .slide-about {
    width: 100%;
    margin: 100px auto;
  }
}
//about
.wr-about {
  background-image: url(../img/Bg_about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }

    h3 {
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .wr-about-text {
      display: flex;
      text-align: left;
      .wr-about-text1 {
        padding-right: 10px;
      }
      .wr-about-text2 {
        padding-left: 10px;
      }
    }
    @media screen and (max-width: 570px) {
      h3 {
        margin-bottom: 30px;
      }
      .wr-about-text {
        display: block;
        text-align: left;
        text-indent: 15px;
      }
    }

    .slider {
      width: 100%;
      margin: 70px auto;
      .sld1 {
        .icons {
          position: absolute;
          bottom: -15px;
          display: none;
        }
      }
      .sld1:hover {
        & > div {
          position: relative;
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            display: inline-block;
            background-color: rgba(109, 109, 109, 0.6);
          }
          .icons {
            position: absolute;
            z-index: 10;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            margin-bottom: 45px;
            align-items: center;
            padding-left: 0;
            li {
              list-style: none;
              margin-left: 18px;
            }
            a {
              display: inline-block;
              position: relative;
              z-index: 1;
              padding: 10px;
              margin: -10px;

              &:hover {
                background-color: rgba(238, 65, 65, 0.8);
              }
            }
            @media screen and (max-width: 768px) {
              a {
                height: auto;
                width: 10px;
              }
            }
          }
        }
      }
      .slick-slide {
        margin: 0px 20px;
      }
      .slick-slide img {
        width: 100%;
      }

      .slick-prev:before,
      .slick-next:before {
        background-color: rgba(109, 109, 109, 0.3);
        padding: 5px 11px;
      }

      .slick-slide {
        transition: all ease-in-out 0.3s;
      }
      h2 {
        text-transform: uppercase;
        font-family: "Montserrat-Regular";
        font-size: 14px;
        text-align: center;
      }
      p {
        font-family: "RobotoSlab-Regular";
        text-transform: capitalize;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
// work
.wr-work {
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    h2 {
      margin-top: 80px;
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    ul {
      display: flex;
      padding: 0;
      justify-content: center;

      li {
        margin: 0 4px;
        list-style: none;
        text-align: center;
        a {
          font-family: "RobotoSlab-Regular";
          text-transform: capitalize;
          font-size: 13px;
          color: #555555;
          text-decoration: none;
        }
        a:hover {
          color: red;
        }
      }
    }
    %photo1 {
      position: relative;
      margin: 10px;
      z-index: 1;
      display: flex;
      &:hover .txt-btn1 {
        visibility: visible;
        width: 100%;
        height: 100%;
        visibility: visible;
        position: absolute;
        z-index: 4;
        background-color: rgba(211, 66, 66, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .txt-btn1 {
        visibility: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 5;
        h2 {
          font-family: "Montserrat-Regular";
          text-transform: capitalize;
          font-size: 18px;
          color: #fff;
          margin-top: 0;
        }
        h3 {
          font-family: "RobotoSlab-Regular";
          text-transform: capitalize;
          font-size: 12px;
          color: #fff;
        }
        .btn-photo1 {
          font-family: "RobotoSlab-Regular";
          font-size: 14px;
          color: rgb(235, 82, 82);
          text-transform: uppercase;
          display: inline-block;
          background-color: #fff;
          padding: 13px 35px;
          text-decoration: none;
          &:hover {
            filter: opacity(0.4);
          }
        }
      }
    }
    .galerry {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 60px 0;
      .photo1 {
        @extend %photo1;
      }
      .photo2 {
        @extend %photo1;
      }
      .photo3 {
        @extend %photo1;
      }
      .photo4 {
        @extend %photo1;
      }
      .photo5 {
        @extend %photo1;
      }
      .photo6 {
        @extend %photo1;
      }
      .photo7 {
        @extend %photo1;
      }
      .photo8 {
        @extend %photo1;
      }
      .photo9 {
        @extend %photo1;
      }
    }
  }
}
// like work
.wr-like-work {
  background: rgba(241, 78, 78, 0.6) url(../img/Bg_likework.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @extend %container;
    text-align: center;
    h2 {
      text-transform: none;
      font-family: "RobotoSlab-Regular";
      font-size: 30px;
      color: #fff;
      margin-top: 79px;
      margin-bottom: 0;
    }
    h3 {
      text-transform: none;
      font-family: "RobotoSlab-Regular";
      font-size: 30px;
      color: #fff;
      margin-top: 11px;
    }
    span {
      text-transform: uppercase;
    }
    .btn-likework {
      font-family: "RobotoSlab-Regular";
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      border: 1px solid #fff;
      padding: 13px 25px;
      margin-top: 17px;
      margin-bottom: 85px;
      text-decoration: none;
      &:hover {
        filter: opacity(0.4);
      }
    }
  }
}
//blog post
.wr-blog {
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    h2 {
      margin-top: 80px;
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    h3 {
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .allblog {
      margin-top: 70px;
      display: flex;

      .pictureblog {
        margin-right: 40px;
        width: 100%;
        img {
          width: inherit;
        }
      }
      .october {
        width: fit-content;
        .octblog {
          display: flex;
          .oct {
            padding: 20px 25px;
            border: 3px solid grey;
          }
          .octname {
            width: 100%;
            text-align: left;
            padding-left: 5%;
            h2 {
              font-family: "Montserrat-Regular";
              text-transform: uppercase;
              font-size: 16px;
              color: rgb(253, 8, 8);
              margin-top: 20px;
            }
            h3 {
              font-family: "RobotoSlab-Regular";
              text-transform: none;
              font-size: 13px;
              font-style: italic;
              color: #555555;
              span {
                color: rgb(253, 8, 8);
              }
            }
          }
        }
        .octtext {
          font-family: "RobotoSlab-Regular";
          text-transform: none;
          font-size: 14px;
          text-align: left;
          line-height: 2;
          color: #555555;
          h3 {
            font-family: "RobotoSlab-Bold";
            color: rgb(253, 8, 8);
            text-transform: uppercase;
            font-size: 13px;
            text-align: left;
            line-height: 2;
          }
        }
      }
    }
    .linestop {
      margin: 40px 0;
      width: 100%;
    }
    .allblog1 {
      padding-bottom: 60px;
      display: flex;
      .pictureblog1 {
        margin-right: 40px;
        width: 100%;
        img {
          width: inherit;
        }
      }
      .october1 {
        width: fit-content;
        .octblog1 {
          display: flex;
          .oct1 {
            padding: 20px 25px;
            border: 3px solid grey;
          }
          .octname1 {
            width: 100%;
            text-align: left;
            padding-left: 5%;
            h2 {
              font-family: "Montserrat-Regular";
              text-transform: uppercase;
              font-size: 16px;
              color: #555555;
              margin-top: 20px;
            }
            h3 {
              font-family: "RobotoSlab-Regular";
              text-transform: none;
              font-size: 13px;
              font-style: italic;
              color: #555555;
            }
          }
        }
        .octtext1 {
          font-family: "RobotoSlab-Regular";
          text-transform: none;
          font-size: 14px;
          text-align: left;
          line-height: 2;
          color: #555555;
          h3 {
            font-family: "RobotoSlab-Bold";
            text-transform: uppercase;
            font-size: 13px;
            text-align: left;
            line-height: 2;
            color: #555555;
          }
        }
      }
    }
    @media screen and (max-width: 970px) {
      .october,
      .october1 {
        width: 100%;
        margin-top: 40px;
      }
      .allblog {
        display: block;
      }
      .allblog1 {
        display: block;
      }
    }
    @media screen and (max-width: 520px) {
      .img {
        width: 300px;
      }
    }
    @media screen and (max-width: 420px) {
      .allblog1 {
        padding-bottom: 0;
      }
    }
  }
}
//slide bottom
.wr-slide-bottom {
  background-image: url(../img/Bg_slidebottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .slider {
      width: 80%;
      margin: 130px auto;
    }
    @media screen and (max-width: 420px) {
      .slider {
        margin: 43px auto;
      }
    }
    .slick-slide {
      margin: 0px 20px;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    .slick-slide {
      transition: all ease-in-out 0.3s;
      opacity: 0.2;
    }
    .slick-active {
      opacity: 0.5;
    }
    .slick-current {
      opacity: 1;
    }
    .txbottom {
      width: 70%;
      padding-bottom: 40px;
      h2 {
        margin-top: 40px;
        font-family: "RobotoSlab-Regular";
        text-transform: none;
        font-size: 18px;
        text-align: center;
        font-style: italic;
        line-height: 2;
        color: #555555;
      }
      h3 {
        font-family: "RobotoSlab-Regular";
        text-transform: none;
        font-size: 20px;
        text-align: center;
        line-height: 2;
        color: #555555;
      }
    }
  }
}
//forms
.wr-forms {
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    h2 {
      margin-top: 80px;
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    h3 {
      content: "\f104";
      font-family: "fontawesome-webfont";
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .formaddres {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .adress {
        text-align: left;
        margin-top: 40px;
        figure {
          margin: 0;
        }
        img {
          float: left;
          margin-right: 15px;
          margin-bottom: -10px;
          margin: 5px;
        }
        figcaption {
          font-family: "Montserrat-Regular";
          text-transform: uppercase;
          font-size: 14px;
          color: #555555;
          line-height: 2;
          margin-top: 0;
        }
        hr {
          visibility: hidden;
        }
        p {
          font-family: "RobotoSlab-Regular";
          text-transform: none;
          font-size: 12px;
          color: #555555;
          line-height: 0.5;
          margin-left: 25px;
        }
      }
      .forms {
        justify-content: right;
        .contact {
          width: 730px;
          min-width: 290px;
          margin: 0 auto;
          outline: none;
          background: none;
          fieldset {
            border: none;
            display: block;
          }
          .row {
            margin: 0 -15px;
          }
          .col-2 {
            width: 50%;
          }
          .col {
            float: left;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
            margin: 0;
          }
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          form section {
            margin-bottom: 20px;
          }
          form .input input,
          form .textarea textarea {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 39px;
            padding: 8px 10px;
            outline: none;
            border: 1px solid #000;
            border-radius: 0;
            background: #fff;

            font-family: "RobotoSlab-Regular";
            text-transform: uppercase;
            font-size: 12px;

            color: #555555;

            appearance: normal;

            transition: border-color 0.3s;
          }
          form .textarea textarea {
            min-height: 100px;
            resize: none;
            overflow: auto;
          }
          form .input:hover input,
          form .textarea:hover textarea,
          form .checkbox:hover p {
            border-color: rgb(255, 0, 0);
          }
          form .input input:focus,
          form .textarea textarea:focus,
          form .checkbox input:focus + i {
            border-color: #ff0000;
          }
          p {
            margin-top: 30px;
            text-align: left;
            font-family: "RobotoSlab-Regular";
            text-transform: none;
            font-size: 12px;

            color: #555555;
          }
          form .button {
            float: left;
            height: 39px;
            overflow: hidden;
            margin-right: 20px;
            padding: 0 20px;
            outline: none;
            border: 0;
            font-family: "RobotoSlab-Regular";
            text-transform: uppercase;
            font-size: 12px;
            color: #555555;
            border: 1px solid #000;
            cursor: pointer;
            opacity: 0.8;
            transition: opacity 0.2s;
          }
          form .button:hover {
            opacity: 0.5;
            color: #ff0000;
            border-color: #ff0000;
          }
        }
        @media screen and (max-width: 1000px) {
          .contact {
            width: 430px;
          }
        }
        @media screen and (max-width: 768px) {
          .contact {
            width: 350px;
          }
        }
      }
    }
    @media screen and (max-width: 420px) {
      h2 {
        margin-top: 40px;
      }
    }
    @media screen and (max-width: 630px) {
      .formaddres {
        display: block;
      }
      .forms {
        display: flex;
        text-align: left;
        justify-content: left;
      }
    }
  }
}
footer {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 308px;
  background: url(../img/Bg-footer.jpg);
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    .wr-footer {
      margin-top: 85px;
      nav {
        display: flex;
        justify-content: center;
        a {
          height: 35px;
          width: 35px;
          align-items: center;
          display: flex;
          justify-content: center;
        }
        a:hover {
          background-image: url(../img/Ellipse-footer.png);
          background-repeat: no-repeat;
          background-size: auto;
        }
      }
      h3 {
        font-family: "RobotoSlab-Regular";
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
      }
    }
  }
}

