@font-face {
  font-family: "Montserrat-Bold";
  src: local(Arial);
  src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local(Arial);
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: local(Arial);
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: local(Arial);
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "fontawesome-webfont";
  src: local(Arial);
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
}
@import "./slick-theme.scss";
@import "./slick.scss";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
%container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .container {
    @extend %container;
    display: flex;
    align-items: baseline;
    height: 60px;
    .logo {
      font-family: "Montserrat-Bold";
      font-size: 24px;
      color: #ffffff;
      text-decoration: none;
      padding-top: 15px;
    }
    .menu {
      text-align: right;
      margin-left: auto;
      margin-right: 0;
    }
    a {
      display: block;
    }
    a.active {
      color: #fd0000;
    }
    .menu__links-item {
      display: inline-block;
      color: #fff;
      padding: 0 12px;
      font-family: "Montserrat-Regular";
      text-decoration: none;
      line-height: 1;
      position: relative;
      cursor: pointer;
    }
    .menu__links-item:hover {
      opacity: 0.5;
    }
    .menu__links-item:hover:after,
    .menu__links-item:focus:after {
      width: 100%;
    }
    .menu__icon {
      display: none;
      width: 25px;
      height: 24px;
      position: relative;
      cursor: pointer;
    }
    .menu__icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #fffefe;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }
    .menu__icon span:nth-child(1) {
      top: 0px;
    }
    .menu__icon span:nth-child(2),
    .menu__icon span:nth-child(3) {
      top: 13px;
    }
    .menu__icon span:nth-child(4) {
      top: 26px;
    }
    .menu.menu_state_open .menu__icon span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    .menu.menu_state_open .menu__icon span:nth-child(2) {
      transform: rotate(45deg);
    }
    .menu.menu_state_open .menu__icon span:nth-child(3) {
      transform: rotate(-45deg);
    }
    .menu.menu_state_open .menu__icon span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    .menu.menu_state_open .menu__links {
      display: block;
    }
    @media screen and (max-width: 1000px) {
      .menu__icon {
        display: inline-block;
      }
      .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow: auto;
      }
      .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
      }
    }
@media screen and (max-width: 769px) {
  .logo {
    font-size: 20px;
    padding-top: 15px;
  }
  .menu__icon {
    width: 25px;
    height: 20px;
    }
  }
  }
}

.wr-header {
  background-repeat: no-repeat;
  background-size: cover;
  background: rgba(0, 0, 0, 0.6) url(../img/Bg_home.jpg);
  background-blend-mode: darken;
  color: #fff;
  text-align: center;
  padding-top: 290px;
  .container {
    @extend %container;
    h1 {
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 48px;
      margin: 0;
    }
    h2 {
      font-family: "RobotoSlab-Regular";
      font-size: 20px;
    }
    .btn-header {
      font-family: "Montserrat-Regular";
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      border: 1px solid #fff;
      padding: 13px 35px;
      margin-top: 40px;
      margin-bottom: 265px;
      text-decoration: none;
      &:hover {
        filter: opacity(0.4);
      }
    }
    @media screen and (max-width: 970px) {
      .btn-header {
        margin-bottom: 120px;
      }
    }
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 38px;
      }
    }
    @media screen and (max-width: 420px) {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 17px;
        padding: 0px 49px;
      }
      .btn-header {
        font-size: 12px;
        padding: 10px 30px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .wr-header {
    padding-top: 190px;
  }
}
@media screen and (max-width: 420px) {
  .wr-header {
    padding-top: 135px;
  }
}
//service
.wr-services {
  .container {
    @extend %container;
    text-align: center;
    padding: 30px 15px 15px 15px;
    h2 {
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    hr {
      width: 50px;
      height: 1px;
      background-color: #555555;
    }
    h3 {
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .allicon {
      margin-top: 45px;
      display: flex;
      .icon1 {
        h3 {
          padding-right: 5px;
        }
        p {
          font-family: "RobotoSlab-Regular";
          font-size: 14px;
          color: #555555;
          padding: 0 10px;
        }
        img:hover {
          transition: transform 1s ease;
        }
        .rotate {
          transform: rotate(360deg);
        }
      }
      .icon2 {
        h3 {
          padding: 0 5px;
        }
        p {
          font-family: "RobotoSlab-Regular";
          font-size: 14px;
          color: #555555;
          padding: 0 10px;
        }
        img:hover {
          transition: transform 1s ease;
        }
        .rotate {
          transform: rotate(360deg);
        }
      }
      .icon3 {
        h3 {
          padding-left: 5px;
        }
        p {
          font-family: "RobotoSlab-Regular";
          font-size: 14px;
          color: #555555;
          padding: 0 10px;
        }
        img:hover {
          transition: transform 1s ease;
        }
        .rotate {
          transform: rotate(360deg);
        }
      }
    }
    @media screen and (max-width: 768px) {
      .allicon {
        display: block;
      }
    }
  }
  .slide-about {
    width: 100%;
    margin: 100px auto;
  }
}
//about
.wr-about {
  background-image: url(../img/Bg_about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @extend %container;
    text-align: center;
    padding: 30px 15px 15px 15px;
    h2 {
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    hr {
      width: 50px;
      height: 1px;
      background-color: #555555;
    }
    h3 {
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .wr-about-text {
      display: flex;
      p {
        text-align: left;
        padding: 0 15px;
        margin-bottom: 30px;
        font-family: "RobotoSlab-Regular";
        font-size: 14px;
        color: #555555;
      }
    }
    @media screen and (max-width: 570px) {
      h3 {
        margin-bottom: 30px;
      }
      .wr-about-text {
        display: block;
        text-align: left;
        text-indent: 15px;
      }
    }
    .slick {
      max-width: 1000px;
      margin: 0 auto;
      overflow: hidden;
      &-slide {
        margin: 0 30px;
      }
      &-list {
        margin-left: -30px;
        margin-right: -30px;
      }
      &-item {
        height: 300px;
        width: 300px;
      }
      .sld1 {
        height: 100%;
        .icons {
          position: absolute;
          bottom: -15px;
          visibility: hidden;
          width: 100%;
          padding-left: 0;
        }
      }
      .sld1:hover {
        & > div {
          position: relative;
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            display: inline-block;
            background-color: rgba(109, 109, 109, 0.6);
          }
          .icons {
            visibility: visible;
            position: absolute;
            z-index: 10;
            transition: All 1s ease;
            display: flex;
            bottom: 10px;
            justify-content: center;
            ul {
              padding-left: 50px;
            }
            li {
              list-style: none;
              margin-left: 18px;
            }
            a {
              display: inline-block;
              position: relative;
              z-index: 1;
              padding: 10px;
              margin: -11px;
              &:hover {
                background-color: rgba(238, 65, 65, 0.8);
              }
            }
          }
        }
      }
      .slick-slide {
        margin: 0px 20px;
      }
      .slick-slide img {
        width: 100%;
      }
      .slick-prev:before,
      .slick-next:before {
        background-color: rgba(109, 109, 109, 0.3);
        padding: 5px 11px;
      }
      .slick-slide {
        transition: all ease-in-out 0.3s;
      }
      h2 {
        text-transform: uppercase;
        font-family: "Montserrat-Regular";
        font-size: 14px;
        text-align: center;
      }
      p {
        font-family: "RobotoSlab-Regular";
        text-transform: capitalize;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
// work
.wr-work {
  .container {
    @extend %container;
    padding: 30px 15px 15px 15px;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    hr {
      width: 50px;
      height: 1px;
      background-color: #555555;
    }
    ul {
      display: flex;
      padding: 0;
      justify-content: center;

      li {
        margin: 0 4px;
        list-style: none;
        text-align: center;
        a {
          font-family: "RobotoSlab-Regular";
          text-transform: capitalize;
          font-size: 13px;
          color: #555555;
          text-decoration: none;
        }
        a:hover {
          color: red;
        }
      }
    }
    %photo1 {
      position: relative;
      margin: 10px;
      z-index: 1;
      display: flex;
      &:hover .txt-btn1 {
        visibility: visible;
        width: 100%;
        height: 100%;
        visibility: visible;
        position: absolute;
        z-index: 4;
        background-color: rgba(211, 66, 66, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .txt-btn1 {
        visibility: hidden;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 5;
        h2 {
          font-family: "Montserrat-Regular";
          text-transform: capitalize;
          font-size: 18px;
          color: #fff;
          margin-top: 0;
        }
        h3 {
          font-family: "RobotoSlab-Regular";
          text-transform: capitalize;
          font-size: 12px;
          color: #fff;
        }
        .btn-photo1 {
          font-family: "RobotoSlab-Regular";
          font-size: 14px;
          color: rgb(235, 82, 82);
          text-transform: uppercase;
          display: inline-block;
          background-color: #fff;
          padding: 13px 35px;
          text-decoration: none;
          &:hover {
            filter: opacity(0.4);
          }
        }
      }
    }
    .galerry {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 60px 0;
      .photo1,
      .photo2,
      .photo3,
      .photo4,
      .photo5,
      .photo6,
      .photo7,
      .photo8,
      .photo9 {
        @extend %photo1;
      }
    }
  }
  @media screen and (max-width: 420px) {
    .container {
      padding: 5px 15px 15px 15px;
    }
  }
}
// like work
.wr-like-work {
  background: rgba(241, 78, 78, 0.6) url(../img/Bg_likework.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @extend %container;
    text-align: center;
    padding: 95px 15px 115px 15px;
    h2 {
      text-transform: none;
      font-family: "RobotoSlab-Regular";
      font-size: 30px;
      color: #fff;
      margin-bottom: 0;
    }
    @media screen and (max-width: 570px) {
      h2 {
        font-size: 20px;
      }
    }
    span {
      text-transform: uppercase;
    }
    .btn-likework {
      font-family: "RobotoSlab-Regular";
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      border: 1px solid #fff;
      padding: 13px 25px;
      margin-top: 17px;
      text-decoration: none;
      &:hover {
        filter: opacity(0.4);
      }
    }
    @media screen and (max-width: 570px) {
      .btn-likework {
        font-size: 12px;
        padding: 10px 30px;
      }
    }
  }
  @media screen and (max-width: 570px) {
    .container {
      padding: 35px 15px 45px 15px;
    }
  }
}
//blog post
.wr-blog {
  .container {
    @extend %container;
    text-align: center;
    padding: 30px 15px 40px 15px;
    h2 {
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    hr {
      width: 50px;
      height: 1px;
      background-color: #555555;
    }
    h3 {
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .allblog {
      margin-top: 40px;
      display: flex;
      .pictureblog {
        margin-right: 40px;
        width: 100%;
        img {
          width: inherit;
        }
      }
      .october {
        width: fit-content;
        .octblog {
          display: flex;
          .oct {
            padding: 15px 25px;
            border: 3px solid grey;
            p {
              font-family: "RobotoSlab-Regular";
              font-size: 20px;
              color: #555555;
              margin: 0;
              text-transform: lowercase;
              font-weight: bold;
            }
          }
          @media screen and (max-width: 570px) {
            .oct {
              padding: 23px 9px;
            }
          }
          .octname {
            width: 100%;
            text-align: left;
            padding-left: 5%;
            h2 {
              font-family: "Montserrat-Regular";
              text-transform: uppercase;
              font-size: 16px;
              color: rgb(253, 8, 8);
              margin-top: 20px;
            }
            h3 {
              font-family: "RobotoSlab-Regular";
              text-transform: none;
              font-size: 13px;
              font-style: italic;
              color: #555555;
              span {
                color: rgb(253, 8, 8);
              }
            }
          }
        }
        .octtext {
          font-family: "RobotoSlab-Regular";
          text-transform: none;
          font-size: 14px;
          text-align: left;
          line-height: 2;
          color: #555555;
        }
        h3 {
          font-family: "RobotoSlab-Bold";
          color: rgb(253, 8, 8);
          text-transform: uppercase;
          font-size: 13px;
          text-align: left;
          line-height: 2;
        }
      }
    }
    .linestop {
      width: 100%;
      height: 0.5px;
      background-color: #555555;
      margin: 40px 0;
    }
    .allblog1 {
      display: flex;
      .pictureblog1 {
        margin-right: 40px;
        width: 100%;
        img {
          width: inherit;
        }
      }
      .october1 {
        width: fit-content;
        .octblog1 {
          display: flex;
          .oct1 {
            padding: 15px 25px;
            border: 3px solid grey;
            p {
              font-family: "RobotoSlab-Regular";
              font-size: 20px;
              color: #555555;
              margin: 0;
              text-transform: lowercase;
              font-weight: bold;
            }
          }
          @media screen and (max-width: 570px) {
            .oct1 {
              padding: 23px 9px;
            }
          }
          .octname1 {
            width: 100%;
            text-align: left;
            padding-left: 5%;
            h2 {
              font-family: "Montserrat-Regular";
              text-transform: uppercase;
              font-size: 16px;
              color: #555555;
              margin-top: 20px;
            }
            h3 {
              font-family: "RobotoSlab-Regular";
              text-transform: none;
              font-size: 13px;
              font-style: italic;
              color: #555555;
            }
          }
        }
        .octtext {
          font-family: "RobotoSlab-Regular";
          text-transform: none;
          font-size: 14px;
          text-align: left;
          line-height: 2;
          color: #555555;
        }
        h3 {
          font-family: "RobotoSlab-Bold";
          text-transform: uppercase;
          font-size: 13px;
          text-align: left;
          line-height: 2;
          color: #555555;
        }
      }
    }
    @media screen and (max-width: 970px) {
      .october,
      .october1 {
        width: 100%;
        margin-top: 40px;
      }
      .allblog {
        display: block;
      }
      .allblog1 {
        display: block;
      }
    }
    @media screen and (max-width: 520px) {
      .img {
        width: 300px;
      }
    }
    @media screen and (max-width: 420px) {
      .allblog1 {
        padding-bottom: 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      padding: 30px 15px 10px 15px;
    }
  }
}
//slide bottom
.wr-slide-bottom {
  background-image: url(../img/Bg_slidebottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @extend %container;
    text-align: -webkit-center;
    padding: 40px 15px 40px 15px;
    .slider {
      width: 100%;
      margin: 0 auto;
    }
    .slick-slide {
      padding: 20px 0;
      text-align: center;
    }
    .slick-arrow:before {
      color: black;
    }
    .slick-dots {
      bottom: -30px;
    }
    .sld2txt {
      margin-top: 20px;
      font-family: "RobotoSlab-Regular";
      text-transform: none;
      font-size: 18px;
      text-align: center;
      font-style: italic;
      line-height: 2;
      color: #555555;
    }
    .sld2txt2 {
      font-family: "RobotoSlab-Regular";
      text-transform: none;
      font-size: 20px;
      text-align: center;
      line-height: 2;
      color: #555555;
    }
    @media screen and (max-width: 768px) {
      .slick-slide {
        padding: 0;
      }
    }
  }
}
//forms
.wr-forms {
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    h2 {
      margin-top: 40px;
      text-transform: uppercase;
      font-family: "Montserrat-Regular";
      font-size: 20px;
      color: #555555;
    }
    hr {
      width: 50px;
      height: 1px;
      background-color: #555555;
    }
    h3 {
      content: "\f104";
      font-family: "fontawesome-webfont";
      font-family: "RobotoSlab-Regular";
      font-size: 16px;
      color: #555555;
    }
    .formaddres {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .adress {
        text-align: left;
        margin-top: 20px;
        width: 285px;
        img {
          float: left;
          margin-right: 15px;
          margin-bottom: -10px;
          margin: 5px;
        }
        .heading {
          font-family: "Montserrat-Regular";
          text-transform: uppercase;
          font-size: 14px;
          color: #555555;
          line-height: 2;
          margin-top: 0;
        }
        hr {
          visibility: hidden;
        }
        p {
          font-family: "RobotoSlab-Regular";
          text-transform: none;
          font-size: 12px;
          color: #555555;
          margin-left: 25px;
        }
      }
      .forms {
        .contact {
          width: 70%;
          right: 0;
          display: flex;
          justify-content: right;
          margin-left: auto;
          margin-right: 0;
          input[type="text"],
          [type="email"],
          select {
            font-family: "RobotoSlab-Regular";
            text-transform: uppercase;
            font-size: 12px;
            color: #555555;
            width: 49%;
            padding: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            &:hover {
              border-color: rgb(253, 13, 13);
            }
          }
          textarea {
            font-family: "RobotoSlab-Regular";
            text-transform: uppercase;
            font-size: 12px;
            color: #555555;
            width: 99%;
            height: 200px;
            padding: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            &:hover {
              border-color: rgb(253, 13, 13);
            }
          }
          input[type="submit"] {
            font-family: "RobotoSlab-Regular";
            text-transform: uppercase;
            font-size: 12px;
            color: #555555;
            color: rgb(7, 7, 7);
            padding: 12px 40px;
            border: 1px solid;
            cursor: pointer;
            float: left;
            margin-left: 3px;
            &:hover {
              color: rgb(253, 13, 13);
            }
          }
          @media screen and (max-width: 420px) {
            input[type="submit"] {
              float: none;
            }
            textarea {
              height: 100px;
            }
            input[type="text"],
          [type="email"],
          select {
            padding: 7px;
          }
          }
          p {
            font-family: "RobotoSlab-Regular";
            text-transform: none;
            font-size: 12px;

            color: #555555;
          }
        }
        @media screen and (max-width: 900px) {
          .contact {
            width: 100%;
          }
        }
        @media screen and (max-width: 690px) {
          input[type="text"],
          [type="email"],
          select {
            width: 100%;
          }
        }
      }
    }
    @media screen and (max-width: 690px) {
      .formaddres {
        display: block;
        width: 100%;
        justify-content: space-between;
      }
      .contact {
        width: 100%;
      }
      input[type="text"],
      [type="email"],
      select {
        width: 100% !important;
      }
    }
  }
}
//footer
footer {
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../img/Bg-footer.jpg);
  .container {
    @extend %container;
    padding: 15px;
    text-align: center;
    padding: 40px 15px;
    .wr-footer {
      nav {
        display: flex;
        justify-content: center;
        a {
          height: 35px;
          width: 35px;
          align-items: center;
          display: flex;
          justify-content: center;
        }
        a:hover {
          background-image: url(../img/Ellipse-footer.png);
          background-repeat: no-repeat;
          background-size: auto;
        }
      }
      hr {
        width: 50px;
        height: 1px;
        background-color: #ffffff;
      }
      p {
        font-family: "RobotoSlab-Regular";
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .container {
      padding: 10px 15px;
    }
  }
}
